/*#region Import */
/*This is an imported stylesheet. We are importing one external stylesheet into another.
    We only have to link to THIS stylesheet (custom.css) on the HTML pages.
    **This process is largely deprecated but you could still see it in legacy code.
*/

/*@import url('Import.css');*/

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Space+Mono&display=swap');
/*
    font-family: 'Architects Daughter', cursive;
    font-family: 'Space Mono', monospace;
*/
/*#endregion */

/*#region Module 5*/

/*
    This is an external stylesheet.
    Designed for maximum reuse throughout the site, linked in the <head> of the HTML pages.
*/

body {
}

header {
    background-color: khaki;
}

main {
    background-color: lightgray;
}

h1 {
    color: darkblue;
    font-size: 24px;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

aside h2 {
    background-color: teal;
    color: lightsalmon;
    text-decoration: none;
}

header h1 {
    color: darkblue;
}

footer {
    font-style: italic;
}

/*#endregion name*/

/*#region Module 6 Links */

/*vertical link blocks*/
ul.blocklist {
    background-color: teal;
    padding: 0;
}

    ul.blocklist li {
        list-style-type: none;
        list-style-image: none;
    }

    ul.blocklist a {
        color: lightsalmon;
        text-align: center;
        padding: .5em;
        display: block;
        /*makes the entire horizontal are clickable, not just the text*/
    }

        ul.blocklist a:hover {
            background-color: darkblue;
            color: lightblue;
        }

/*base link (all links)*/
a {
    color: teal;
    font-weight: bold;
    text-decoration: none; /*this none removes the underline*/
}
    /*base link pseudo selectors*/
    /*
    hover = mouse over the element
    active = actively clicking on the element
    focus = have clicked on the element, and it is being currently selected
*/
    a:hover, a:active, a:focus {
        color: lightblue;
        text-decoration: underline;
        background-color: darkblue;
    }
/*topics list - HTML.html*/
.asideList {
    list-style: none;
}
/*navbar link styling*/
nav a {
    font-weight: bold;
    color: lightsalmon;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: teal;
    padding: 0;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

    nav ul li:hover {
        background-color: darkblue;
    }

    nav ul li {
        display: inline-block;
    }

        nav ul li a {
            padding: .4em 1em;
            display: block;
        }
/*#endregion */

/*#region Module 7 Colors */

/*
  Color Notes: 

    We have been using named colors. These are a limited amount of color options
    that are supported by most modern web browsers. (140 options)

    There are also color coding systems. With these, you get more specialized 
    options
        - Most of them make use of numeric values to represent levels of red, 
          green, and blue (referred to as RGB)
        - Using RGB there are 16 million different color options

    Hexadecimal Notation
    #RRGGBB
    Original color coding system, but it is not easily readable
    0 is the first digit (you start at zero)
    Second digit 0-9 and A(10)-F(15)
    16 causes the first digit to increment and a second digit is added starting
    at 0 (16 = 10)
    Pattern continues up to 255

    Hex Shorthand
    #RGB
    Shortens the numeric representation of a color to 3 digits from 6
    This limits color options to 4096
    Can only be used when there are repeating digits in each color value
    ex. #229988 => #298

    Percentage Ranges
    rbg(R%, G%, B%) 1-100% for each

    Numeric Ranges 
    rbg(r, g, b) uses standard decimal numbers for each color 0-255

    RGBA
    rgba(r, g, b, a) 
    Alpha adds transparency and should be between 0(none) and 1(full)
*/

.colors {
    border: dashed 2px teal;
}

    .colors article p {
        padding: 20px 5px;
    }

        .colors article p span {
            font-weight: bold;
            font-style: italic;
        }

#colordemo1 {
    background-color: #6B00E8;
    color: #fa1587;
}

#colordemo2 {
    background-color: #ddd; /*#DDDDDD*/
    color: #000;
}

#colordemo3 {
    background-color: rgb(205, 146, 60); /*#DDDDDD*/
    color: rgb(25, 94, 82);
}

#colordemo4 {
    background-color: rgba(16, 28, 40, .2); /*#DDDDDD*/
    color: rgba(248, 6, 82, .7);
}

#colordemo5 {
    background-color: teal; /*#DDDDDD*/
    color: lemonchiffon;
}

#colorGradient1 {
    /*
    Syntax: background-image: linear-gradient(angle, color-stop1, color-stop2);
    */
    background-image: linear-gradient(-90deg, red, yellow);
    /*
        -90deg so that the yellow is on the left and red is on the right
        Alt syntax: linear-gradient(to right, red, yellow)
        Can also use Hexadecimal values or rgb/rgba values instead of named colors
    */
    color: black;
}

#colorGradient2 {
    /*
        Syntax: background-image: radial-gradient(shape size at position, start-color, ..., last-color);
        Shape Size can take values: closest-side, farthest-side, closest-corner, farthest-corner
    */
    background-image: radial-gradient(circle farthest-side at 50% 60%, pink, purple, blue);
    /*for position first value is Left/Right and second is Top/Bottom*/
}

#colorGradient3 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#af23af+0,6e1bad+56,7db9e8+100 */
    background: #af23af; /* Old browsers */
    background: -moz-linear-gradient(left, #af23af 0%, #6e1bad 56%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #af23af 0%,#6e1bad 56%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #af23af 0%,#6e1bad 56%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#af23af', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

#colors article h1 {
    text-shadow: 3px -2px 5px #f27d03;
    /*
      3px  horizontal(required) -2px vertical(required) 5px blurlenght(optional) color(required);
    */
}

#colors {
    box-shadow: -15px -10px 20px lightsalmon;
}

    #colors + aside {
        /*Adjacent Sibling Selector: target all aside elements that immediately follow an element with #colors*/
        box-shadow: inset 0 0 50px #333;
        /*
            inset = interior shadow
            0 0 = means in all directions/ offset
        */
    }

main {
    background-color: rgba(211, 211, 211, 0.9) !important;
    /*!important - trumps precenence, makes sure that this is what is rendered*/
    /*BAD practice only last resort!*/
}
/*#endregion */

/*#region Module 7 Fonts */

/*
        Font Notes:

    Fonts are declared in a font-family. Reading from left to right, this is a list of 
    fonts starting with the specific desired font followed by a list of back-ups until
    you get to a generic font type at the end. 

    The fonts available for the browser to use are the fonts on the specific device accessing
    the website. 

    Web-Safe fonts are those that are widely available across most devices. This is a moving target. 

    Alternatively, you can import fonts through a CDN to ensure the same font is used to render your site for 
    all devices. 

    Font sizes can be declared in pixels (px) which are fixed width values. Can also use relative units of measure, 
    like em's.
        Stands for the letter M - widest letter in English language
        Font-Size is figured based on the font-size of the parent element
        Example: if parent has font-size of 12px and child has font-size of 1.5em, then child would have 18px font
        Best practice is to declare font-size in px at body level and use em's for all other values. 

*/

#fontdemo1 {
    font-family: "Calisto MT", Cambria, "Times New Roman", serif;
}

#fonddemo2 {
    font-family: Verdana, Geneva, sans-serif;
}

#fontdemo3 {
    font-family: "Brush Script MT", cursive;
}

#fontdemo4 {
    font-family: "Courier New", "Lucida Console", Monaco, monospace;
}

#fontdemo5 {
    font-family: Papyrus, fantasy;
}

/*Common font mods*/

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.small-caps {
    font-variant: small-caps;
}

.letter-spacing {
    letter-spacing: .3em;
}

.word-spacing {
    word-spacing: 1em;
}

.fs-px10 {
    font-size: 10px;
}

.fs-px20 {
    font-size: 20px;
}

.fs-px40 {
    font-size: 40px;
}

.fs-em0-7 {
    font-size: .7em;
}

.fs-em1-8 {
    font-size: 1.8em;
}

.fs-em4 {
    font-size: 4em;
}

.lh-1-5-spacing {
    line-height: 1.5;
}

.lh-double-spacing {
    line-height: 2em;
}

.lh-px-40 {
    line-height: 40px;
}

/*text-align: left, right, justify, or center*/
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.align-center {
    text-align: center;
}

#fontdemo6 {
    font: 1.1em Verdana, Geneva, sans-serif;
    /*just uses the 2 required font-shorthand properties: Font size and font family*/
}

#fontdemo7 {
    font: italic small-caps bold 19px/2em "Palatino Linotype", "Book Antiqua", Palatino, serif;
    /*uses all possible font-shorthand properties:
        font: font-style font-variant font-weight font-size/line-height font-family
    */
}

h1, h2, footer {
    text-align: center;
}

header h1 {
    font: 2.2em 'Architects Daughter', cursive;
}

header p {
    font: 'Space Mono', monospace;
    font-style: italic;
}

main h1 {
    font-family: 'Space Mono', monospace;
    font-size: 1.75em;
}
/*#endregion */

/*#region Module 7 Images */
/*
    Image Syntax
    <img src="path/file.ext" alt="descriptive text" title="short description"/>

    Alt: is used for screenreaders and for image search results. 
    - It is also what is displayed on screen if the image
    fails to load.

    Title: is the text that pops up when you hover over an image.

    CSS Image Properties 
    background-url: allows you to pass the url of image to set as a bg

    background-repeat: if the image is not big enough to fill the screen
    should it repeat in some way? 

    background-attachment: if the bg image is fixed or scrollable

    background-position: positions the bg on the viewport
    - You can provide specific x-horizontal position values and 
    y-vertical values using px, em, %

    background-size: 
    - Cover: scale to completely fill width and height. 
    - may result in truncation
    - Contain: scale to the largest size needed so it fills the
    height and width without truncation.

    Shorthand
    background: color url(path/file) position/size repeat attachment;

    If you set a background image using CSS, you cannot provide an alt 
    description. Therefore, you must provide an alternate way of 
    describing the image. 
*/

/*List Style Images*/
ul li {
    list-style-image: url(../images/bullet_point_image_teal.png);
}

aside ul li {
    list-style-image: url(../images/bullet_point_image_orange.png);
}

/*postitioning a single image through CSS*/
#headerOverlay {
    background-image: url(../images/computer_icon.png);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
}

/*Add <div id="headerOverlay"></div> in the <header> of each .html page*/
header h1, header p {
    margin: 7px 0 7px 150px;
}

header h1 {
    text-align: left;
    letter-spacing: 0.1em;
    color: #96f3fa
}

header {
    border-radius: 5px;
}

/*Background Images*/
header {
    background-image: url(../images/a-r-t-paola-589990-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background: url(../images/ben-krygsman-745458-unsplash.jpg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

/*sweet, sweet border (that you may want to comment out)*/
nav ul {
    min-height: 52px;
    background-image: url(../images/border_wave.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 200px;
}


/*#endregion */

/*#region BoxModel */

div.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid lightsalmon;
    }

    div.galleryItem img {
        width: 100%;
        height: auto;
    }

    div.galleryItem a:hover {
        background-color: lightsalmon;
    }

#imageGallery {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
/*Provide padding for main content and content in the <aside> of HTML pages*/
.mainWrapper {
    padding: 1%;
}

.asideWrapper {
    padding: 1%;
}
/*Padding for footer*/
footer {
    padding: 3%;
}
/*remove margin above and below nav*/
nav ul {
    margin: 0;
}

/*add padding for headings in aside*/
aside h2 {
    padding: 2%;
}


/*#endregion */

/*#region Float/Clear */

/*
    Float & Clear Notes

    Floating an element in HTML is when you move it to the left or right inside of its parenting container. 

    Floating an element can cause the parenting container to collapse because the element is no longer contributing
    to its height. 

    You can use clears to force parenting containers to maintain their height and to ensure content DOES NOT flow up
    beside the floated element(s). 

    Clears only clear the container they are placed in.

*/
/*Floating and Image*/
#html, #js {
    float: right;
    height: 75px;
    margin-left: 20px;
}

#css {
    float: left;
    height: 75px;
    margin-right: 20px;
}

#frontendDev section {
    width: 85%;
    margin: 0 auto;
}
    /*:nth child selector is used to efficently target only certain child elements.*/
    #frontendDev section:nth-child(odd) h3, #frontendDev section:nth-child(even) h3 {
        margin: 10px 75px;
    }

    #frontendDev section:nth-child(even) p, #frontendDev section:nth-child(odd) p {
        margin: 0 75px;
    }
/*For index.html - 2 column layout with 1 column floated*/
#leftColumn{
    width: 73%;
    border-right: 1px dashed teal;
}
#rightColumn{
    width: 25%;
    float: right;
}

aside h2{
    margin-top: 0;
}

/*For HTML.html - 2 column layout with 1 column floated, margin clear*/
#htmlLeftColumn{
    margin-right: 25%;
    border-right: 1px dashed teal;
}
#htmlRightColumn {
    width: 25%;
    float: right;
}

#cssLeftColumn{
    width: 75%;
    float: left;
    border-right: 1px dashed teal;
    box-sizing: border-box;
/*border-box changes the way width and height are figured. This means that width:75% includes content, padding, and border. (NOT margin)*/
}
#cssRightColumn{
    width: 25%;
    float: right;
}
.clear{
    clear: both;
}
    /*#endregion */
