@model MVC2EFSecured.DATA.EF.Book

@{
    ViewBag.Title = "Delete " + Model.BookTitle;
}

<div class="formContainer col-md-4 text-center">

    <h3>Are you sure you want to permanently delete this book (@Model.BookTitle)?</h3> <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row m-0">
            <div class="col-md-6">
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
            </div>
            <div class="col-md-6">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </div>
    }
</div>
